/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

/* TODO: variables */
button,
.button,
.book-now {
  background: none;
  border-radius: var(--card-radius);
  padding: var(--kosciuszko) var(--vinson);
  font-size: var(--vinson);
  cursor: pointer;
  margin-block-end: var(--elbrus);
  transition: var(--slow);
  display: block;
  line-height: var(--kilimanjaro);
  text-decoration: none;
  width: max-content;
  border: 1px solid;
  box-shadow: var(--penumbra);
}

button:hover,
.button:hover,
/* below is for the storyboard showcase */
.button__hover {
  box-shadow: var(--antumbra);
}

.button__active,
button:active {
  box-shadow: var(--umbra);
}

.book-now {
  margin-block-start: var(--kosciuszko);
  text-align: center;
  display: inline-block; /* same as a button */
}

/*------------------------------------*/
/* #SOUTH TAHOE */
/*------------------------------------*/

.south-tahoe {
  button,
  .button,
  .book-now {
    background-color: var(--cloud-background-color);
    border-color: var(--cloud-border-color);
    color: var(--cloud-color);
  }

  .button__active {
    background-color: var(--lake-400);
    border-color: var(
      --lake-500
    ); /* this goes passed the 400 / 500 dark light split Im not sure if I want to change it */
    /* maybe it needs a very occasional 450 */
    color: var(--lake-800);
  }

  button:hover.south-tahoe,
.button__hover.south-tahoe,
/* .button__hover + .south-tahoe, */
.button:hover.south-tahoe {
    background-color: var(--lake-300);
    border-color: var(--lake-400);
    color: var(--lake-700);
  }
}

/*------------------*/
/* #MENU */
/*------------------*/

menu button {
  margin: 0;
}

/*------------------------------------*/

.button__double {
  display: flex;
  align-items: center;
  gap: var(--denali);
}

.buttonGroup {
  display: flex;
  flex-flow: row wrap;
  gap: var(--vinson);
  margin-block-end: var(--baseline);
}

/*------------------------------------*/

footer .book-now {
  margin-block-start: 0;
  margin-block-end: var(--baseline);
}
