/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

button,
.button,
.book-now {
  background: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-block-end: var(--baseline);
  transition: 0.5s ease;
  display: block;
  line-height: 1.5rem;
  text-decoration: none;
  width: max-content;
  border: 1px solid;
  box-shadow: var(--penumbra);
}

button:hover,
.button:hover,
/* below is for the storyboard showcase */
.button__hover {
  box-shadow: var(--antumbra);
}

.button__active,
button:active {
  box-shadow: var(--umbra);
}

/*------------------*/
/* #MENU */
/*------------------*/

menu button {
  margin: 0;
}
