/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

/* TODO: combine select into these for the colors */

button,
.button,
.book-now {
  border-radius: var(--card-radius);
  padding: var(--kosciuszko) var(--vinson);
  font-size: var(--vinson);
  cursor: pointer;
  margin-block-end: var(--elbrus);
  transition: var(--slow);
  display: inline-block;
  line-height: var(--kilimanjaro);
  text-decoration: none;
  width: max-content;
  text-align: center;
  box-shadow: var(--penumbra);
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-100);

  @media (prefers-color-scheme: dark) {
    /* background-color: var(--neutral-600); not enough*/
    background-color: var(--neutral-600);
    border-color: var(--neutral-500);
    color: var(--neutral-100);
  }
}

button:hover,
.button:hover,
/* below is for the storyboard showcase */
.button__hover {
  box-shadow: var(--antumbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-500);
    border-color: var(--neutral-500);
    color: var(--neutral-200);
  }
}

.button__active,
.button:active,
button:active {
  box-shadow: var(--umbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-400);
    border-color: var(--neutral-200);
    color: var(--neutral-500);
  }
}

.book-now {
  text-transform: uppercase;
  /* ? why is this different than a regular button */
  margin-block-start: var(--kosciuszko);
  background-color: var(--neutral-800);
  border-color: var(--neutral-700);
  color: var(--neutral-300);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-200);
    border-color: var(--neutral-100);
    color: var(--neutral-800);
  }
}

.book-now:hover,
.book-now__hover {
  background-color: var(--neutral-500);
  border-color: var(--neutral-600);
  color: var(--neutral-200);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-300);
    border-color: var(--neutral-200);
    color: var(--neutral-700);
  }
}

.book-now:active,
.book-now__active {
  background-color: var(--neutral-400);
  border-color: var(--neutral-400);
  color: var(--neutral-100);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-300);
    border-color: var(--neutral-300);
    color: var(--neutral-600);
  }
}

/*------------------------------------*/
/* #TAHOE CITY */
/*------------------------------------*/

.tahoe-city {
  button,
  .button {
    /* * reverts to clean dark scheme */
    @media (prefers-color-scheme: light) {
      background-color: var(--sand-200);
      border-color: var(--sand-100);
      color: var(--tanager-100);
    }
  }

  button:hover,
  .button:hover,
  .button__hover {
    @media (prefers-color-scheme: light) {
      background-color: var(--sand-300);
      border-color: var(--sand-200);
      color: var(--tanager-200);
    }
  }

  button:active,
  .button:active,
  .button__active {
    @media (prefers-color-scheme: light) {
      background-color: var(--sand-400);
      border-color: var(--sand-300);
      color: var(--tanager-300);
    }
  }

  /* BOOK NOW */
  .book-now {
    background-color: var(--tanager-200);
    border-color: var(--tanager-100);
    color: var(--neutral-100);
  }

  /* @media (prefers-color-scheme: dark) {
  } */

  .book-now:hover,
  .book-now__hover {
    background-color: var(--tanager-300);
    border-color: var(--tanager-200);
    color: var(--neutral-200);
  }

  .book-now:active,
  .book-now__active,
  button:active {
    background-color: var(--tanager-400);
    border-color: var(--tanager-300);
    color: var(--neutral-300);
  }
}

/*------------------------------------*/
/* #SOUTH TAHOE */
/*------------------------------------*/

.south-tahoe {
  button,
  .button,
  select {
    background-color: var(--lake-200);
    border-color: var(--lake-100);
    color: var(--cloud-color);
  }

  @media (prefers-color-scheme: dark) {
    button,
    .button,
    select {
      background-color: var(--lake-600);
      border-color: var(--lake-700);
      color: var(--lake-100);
    }
  }

  button:hover,
  .button__hover,
  .button:hover,
  select:hover {
    background-color: var(--lake-400);
    border-color: var(--lake-400);
    color: var(--lake-700);
  }

  .button__active select:active {
    background-color: var(--lake-400);
    border-color: var(--lake-500);
    /* this goes passed the 400 / 500 dark light split Im not sure if I want to change it */
    /* maybe it needs a very occasional 450 */
    color: var(--lake-800);
  }

  .book-now {
    background-color: var(--lake-200);
    border-color: var(--lake-100);
    color: var(--lake-600);
  }

  .book-now:hover,
  .book-now__hover {
    background-color: var(--lake-300);
    border-color: var(--lake-200);
    color: var(--lake-700);
  }

  .book-now:active,
  .book-now__active {
    background-color: var(--lake-400);
    border-color: var(--lake-300);
    color: var(--lake-800);
  }
}

/*------------------*/
/* #MENU */
/*------------------*/

menu button {
  margin: 0;
}

/*------------------------------------*/

.multi_button {
  display: flex;
  align-items: center;
  gap: var(--denali);
}

.multi_button-center {
  justify-content: center;
}

.location_multi-link {
  display: flex;
  justify-content: space-between;
  gap: var(--denali);
  width: 100%;
}

/*------------------------------------*/

footer .book-now {
  margin-block-start: 0;
  margin-block-end: var(--baseline);
}
