/*------------------*/
/* #CARDS */
/*------------------*/

.deck {
  margin-block-end: var(--aconcagua);
}

/* TODO: needs sub-grid */
.card,
.ticket {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: var(--card-radius);
  /* needed to control nested elements */
  text-decoration: none;

  .card__placeholder {
    max-height: 5rem;
    border: none;
    border-radius: 0;
    margin-block-end: var(--kilimanjaro);
  }

  .image-link {
    transition: var(--fade);
    transform: scale(1);
    z-index: var(--floor);
  }

  .image-link:where(:hover, :focus) {
    transform: scale(1.05);
  }

  .card__image {
    margin-block-end: var(--kilimanjaro);
    transition: var(--fade);
  }

  .card__image:where(:hover, :focus) {
    filter: brightness(80%);
  }

  .card__title {
    font-size: var(--denali);
    margin-inline: var(--kosciuszko);
    line-height: var(--aconcagua);
  }

  .card__specs {
    width: calc(100% - var(--kilimanjaro));
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-inline: var(--kosciuszko);
    margin-block-end: var(--elbrus);

    > * {
      margin: 0; /* reset */
    }
  }

  .card__span {
    font-size: var(--vinson);
    text-transform: uppercase;
  }

  p {
    margin-inline: var(--kosciuszko);
  }

  hr {
    margin-inline: var(--kosciuszko);
  }

  .card__details {
    display: flex;
    gap: var(--vinson);
    width: calc(100% - var(--kilimanjaro));
    margin-inline: var(--kosciuszko);
    margin-block-end: var(--elbrus);
    justify-content: space-between;

    > * {
      flex: 1 1;
      margin: 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: clamp(var(--vinson), 1.667vw, var(--denali));
      font-weight: normal;
      line-height: var(--everest);
    }

    button {
      line-height: var(--denali);
    }
  }

  .badge {
    z-index: var(--floor);
    place-self: start;
    padding: var(--kosciuszko);
    margin: var(--kosciuszko);
    border-radius: var(--card-radius);
    opacity: 0.9;

    h5 {
      margin: 0;
      opacity: 1;
      font-weight: normal;
    }
  }
}

.card:hover {
  p {
    text-decoration: underline;
  }
}

.deck:empty {
  display: none;
}

.deck__column {
  grid-template-columns: 1fr;
}

.deck__more {
  max-width: var(--pelican);
  margin-inline: auto;
  padding-inline: var(--kosciuszko);

  button {
    margin-block-start: var(--kilimanjaro);
    margin-inline: auto;
  }
}

/*------------------*/
/* #RETAIL LOGO */
/*------------------*/

.brand-logo {
  display: flex;
  flex-flow: row wrap;
  gap: var(--elbrus);
  max-width: max-content;
  /* border: 1px solid var(--tin-soldier); im not sure yet */
  margin-block-end: var(--kilimanjaro);
  padding-block: var(--kilimanjaro);
  padding-inline: var(--kosciuszko);
  align-items: center;
  font-size: var(--denali); /* grabs any h level */

  > * {
    margin-block-end: 0;
  }

  svg {
    width: var(--vulture); /* guess and check */
    margin-block-end: var(--kosciuszko);
  }
}
