/*------------------------------------*/
/* #DECK */
/*------------------------------------*/

.card,
.bag,
.flight {
  margin-block-end: var(--aconcagua);

  display: grid;

  /* * iPhone size breaks without this */
  grid-template-columns: 1fr;

  /* * guess and check */
  @media (min-width: 29rem) {
    grid-template-columns: repeat(auto-fill, minmax(var(--condor), 1fr));
  }
}

.card:empty,
.bag:empty,
.flight:empty {
  display: none;
}

/*------------------*/
/* #CARDS */
/*------------------*/

.card,
.purchase,
.ticket {
  background-color: white;
  border: 1px solid var(--neutral-200);
  border-radius:  var(--card-radius);
  padding: var(--kosciuszko);
  width: calc(100% - 2 * var(--kosciuszko));
  height: calc(100% - 2 * var(--kosciuszko));

  @media (prefers-color-scheme: light) {
    box-shadow: var(--penumbra);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-700);
    border-color: var(--neutral-600);
  }
}

.card:hover,
.purchase:hover,
.ticket:hover {
  p {
    text-decoration: underline;
  }

  img {
    filter: brightness(80%);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--kosciuszko);
}

/*------------------*/
/* #RETAIL LOGO */
/*------------------*/

.brand-logo {
  display: flex;
  flex-flow: row wrap;
  gap: var(--elbrus);
  max-width: max-content;
  margin-block-end: var(--kilimanjaro);
  padding-block: var(--kilimanjaro);
  padding-inline: var(--kosciuszko);
  align-items: center;
  font-size: var(--denali); /* grabs any h level */

  > * {
    margin-block-end: 0;
  }

  svg {
    width: var(--vulture); /* guess and check */
    margin-block-end: var(--kosciuszko);
  }
}
