/*------------------------------------*/
/* #COLOR */
/*------------------------------------*/
body {
  background-color: var(--neutral-100);
  color: var(--neutral-800);

  @media (prefers-color-scheme: dark) {
    background-color: var(--lake-300);
    color: var(--neutral-100);
  }
}

body:has(#storybook-root) {
  #storybook-root {
    min-height: 100vh;
  }

  #storybook-root:has(.tahoe-city) {
    background-color: var(--neutral-100);

    @media (prefers-color-scheme: dark) {
      background-color: var(--lake-300);
    }
  }
}

/*------------------------------------*/
/* #TOP-BAR */
/*------------------------------------*/

.top-bar {
  clip-path: inset(0 -100vmax);
  background-color: var(--neutral-100);
  box-shadow: 0 0 0 100vmax var(--neutral-100);
  text-align: center;
}

.south-tahoe {
  .top-bar {
    background-color: var(--lake-100);
    box-shadow: 0 0 0 100vmax var(--lake-100);
    color: var(--lake-600);

    @media (prefers-color-scheme: dark) {
      background-color: var(--lake-800);
      box-shadow: 0 0 0 100vmax var(--lake-800);
      color: var(--lake-600);
    }
  }
}
