/*------------------------------------*/
/* #COLOR */
/*------------------------------------*/

/*------------------------------------*/
/* #TOP-BAR */
/*------------------------------------*/

.top-bar {
  background: var(--brilliance);
  box-shadow: 0 0 0 100vmax var(--brilliance);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-600);
    box-shadow: 0 0 0 100vmax var(--navy-600);
  }
}
