/*------------------------------------*/
/* #COLOR */
/*------------------------------------*/

body {
  background-color: whitesmoke;
  color: var(--black-metal);

  @media (prefers-color-scheme: dark) {
    background-color: var(--black-metal);
    color: var(--kingly-cloud);
  }
}

/*------------------------------------*/
/* #TOP-BAR */
/*------------------------------------*/

.top-bar {
  clip-path: inset(0 -100vmax);
}

/*------------------------------------*/
/* #LOCATION */
/*------------------------------------*/

.location.true {
  background-color: antiquewhite;
}
