/*------------------*/
/* #LAYOUT */
/*------------------*/

body {
  margin: 0; /* reset */
}

.vulture,
.stork,
.condor,
.pelican,
.albatross,
.location,
header,
main,
footer,
.deck {
  margin-inline: auto;
  padding-inline: var(--kosciuszko);
  width: calc(100% - var(--kosciuszko) * 2);
}

.vulture {
  max-width: min(var(--vulture), calc(100vw - var(--denali)));
  flex-basis: var(--vulture);
}

.stork,
header,
main,
footer {
  max-width: min(var(--stork), calc(100vw - var(--denali)));
  flex-basis: var(--stork);
}

.condor,
.location,
.react-aria-Breadcrumbs.condor {
  max-width: min(var(--condor), calc(100vw - var(--denali)));
  flex-basis: var(--condor);
}

.pelican,
.react-aria-Breadcrumbs {
  max-width: min(var(--pelican), calc(100vw - var(--denali)));
  flex-basis: var(--pelican);
}

.albatross,
.deck,
.react-aria-Breadcrumbs.albatross {
  max-width: min(var(--albatross), calc(100vw - var(--denali)));
  flex-basis: var(--albatross);
}

/*------------------------------------*/

.wrap,
.deck {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(var(--kosciuszko), 1.667vw, var(--denali));
  padding-inline: var(--kosciuszko);

  > * {
    flex: 1 1;
    width: 100%;
    height: fit-content;
  }
}

.pelican.wrap > *,
.albatross.wrap > *,
.deck > * {
  max-width: none;
  margin-inline: 0;
  padding-inline: 0;
}

.pelican.wrap > * {
  flex: 1 1 calc(var(--pelican) / 2 - var(--vinson));
}

.albatross.wrap > *,
.deck > * {
  flex: 1 1 calc(var(--albatross) / 2 - var(--vinson));
}

/*------------------------------------*/
/* #NESTED */
/*------------------------------------*/

/* this isnt a direct nested its always down another layer */
.albatross .pelican,
/* ! deck * needs to be removed its maybe only the image that needs it */
.deck *:not(p, hr) {
  /* ? margin-inline: 0; ? should this be centered */
  /* TODO: this needs a :not for a few things */
  width: 100%; /* resets the padding */
  padding-inline: 0;
}

/*------------------*/
/* #DEFAULTS */
/*------------------*/

header,
main,
footer {
  margin-block-end: clamp(var(--kosciuszko), 2.5vw, var(--denali));
}

header {
  h1,
  h2 {
    text-align: center;
  }

  h2 {
    max-width: var(--vulture);
    margin-inline: auto;
    font-size: 2rem;

    a {
      display: inline-block;
    }
  }

  button:hover {
    box-shadow: none; /* reset */
  }
}

/*------------------------------------*/
/* #BLOCK END */
/* this seems like something you could do more interesting in a programatic way */
/*------------------------------------*/

.everest-block-end {
  margin-block-end: var(--everest);
}

.aconcagua-block-end {
  margin-block-end: var(--aconcagua);
}

.denali-block-end {
  margin-block-end: var(--denali);
}

.kilimanjaro-block-end {
  margin-block-end: var(--kilimanjaro);
}

.elbrus-block-end {
  margin-block-end: var(--elbrus);
}

.vinson-block-end {
  margin-block-end: var(--vinson);
}

.kosciuszko-block-end {
  margin-block-end: var(--kosciuszko);
}

/*------------------*/
/* #TOP BAR */
/*------------------*/

/* this flashes in on every load which is bad but its currently out of use */
.top-bar {
  transition: var(--slow);
  height: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  padding-block-start: 0.25rem;
  z-index: var(--emergent); /* over the small menu when it slides up */
  position: relative;

  p {
    margin-block-end: 0.25rem;
  }
}

/*------------------------------------*/
/* #SOCIAL */
/*------------------------------------*/

.social {
  display: flex;
  gap: clamp(var(--kilimanjaro), 1.667vw, var(--aconcagua));
  margin-block: clamp(var(--kilimanjaro), 1.667vw, var(--aconcagua));
}

/*------------------*/
/* #LOCATION */
/*------------------*/

.location-deck {
  margin-block-end: var(--kilimanjaro);
}

.location {
  max-width: var(--condor);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: clamp(var(--kosciuszko), 1.67vw, var(--elbrus));
  padding: clamp(var(--kosciuszko), 1.67vw, var(--elbrus));
  border-radius: var(--card-radius);

  > * {
    /* guess and check to get the parking on one row in the footer */
    flex: 7.5 1 var(--vulture);
  }

  > svg,
  .svg {
    flex: 1 1 max-content;
    min-width: var(--everest);
    min-height: var(--everest);
  }

  p {
    margin-block-end: 0; /* reset to the gap */
  }
}

.location.false:not(:last-child) {
  border-block-end: 1px solid;
  border-radius: 0;
}
