/*------------------*/
/* #LAYOUT */
/*------------------*/

body {
  margin: 0; /* reset */
}

/* * these do not have padding as they often have grid gap to do that */
.vulture,
.stork,
.condor,
.pelican,
.albatross,
header,
main,
footer,
.react-aria-Breadcrumbs,
.deck,
.bag,
.flight {
  margin-inline: auto;
  padding-inline: var(--kosciuszko);
  /* width: calc(100% - var(--kosciuszko) * 2); */
  max-width: 100%;
}

.vulture {
  margin-inline: auto;
  max-width: min(var(--vulture), calc(100vw - var(--denali)));
  flex-basis: var(--vulture);
}

.stork {
  max-width: min(var(--stork), calc(100vw - var(--denali)));
  flex-basis: var(--stork);
}

.condor,
header,
main,
.location,
.react-aria-Breadcrumbs.condor {
  max-width: min(var(--condor), calc(100vw - var(--denali)));
  flex-basis: var(--condor);
}

.pelican,
.react-aria-Breadcrumbs.pelican {
  max-width: min(var(--pelican), calc(100vw - var(--denali)));
  flex-basis: var(--pelican);
}

.albatross,
footer,
.deck,
.bag,
.flight,
.react-aria-Breadcrumbs {
  max-width: min(var(--albatross), calc(100vw - var(--denali)));
  /* max-width: var(--albatross); */
  /* * theres an issue here things are not wrapping when they should */
  /* max-width: 82rem; */
  flex-basis: var(--albatross);
}

/*------------------------------------*/

/* TODO: v1.2 media queries for the nested wraps */

.wrap,
.deck,
.flight {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(var(--kosciuszko), 1.667vw, var(--denali));
  padding-inline: var(--kosciuszko);

  > * {
    flex: 1 1;
    width: 100%;
    height: fit-content;
  }
}

.pelican.wrap > *,
.albatross.wrap > *,
.deck > *,
.flight > *,
footer > * {
  max-width: none; /* TODO: this is breaking .composition on storybook */
  margin-inline: 0;
  padding-inline: 0;
}

.pelican.wrap > * {
  flex: 1 1 calc(var(--pelican) / 2 - var(--vinson));
}

.albatross.wrap > *,
.deck > *,
.flight > * {
  flex: 1 1 calc(var(--albatross) / 2 - var(--vinson));
}

.albatross.wrap .composition {
  max-width: fit-content;
}

/*------------------------------------*/
/* #NESTED */
/*------------------------------------*/

/* this isnt a direct nested its always down another layer */
.albatross .pelican,
.deck > *:not(h4):not(p):not(hr) {
  width: 100%; /* resets the padding */
  padding-inline: 0;
}

/*------------------*/
/* #DEFAULTS */
/*------------------*/

header,
main,
footer {
  margin-block-end: clamp(var(--kosciuszko), 2.5vw, var(--denali));
}

header {
  h1,
  h2 {
    text-align: center;
  }

  h2 {
    max-width: var(--vulture);
    margin-inline: auto;
    font-size: 2rem;

    a {
      display: inline-block;
    }
  }

  button:hover {
    box-shadow: none; /* reset */
  }
}

/*------------------------------------*/
/* #BLOCK Start */
/* this seems like something you could do more interesting in a programatic way */
/*------------------------------------*/

.everest-margin-block-start {
  margin-block-start: var(--everest);
}

.aconcagua-margin-block-start {
  margin-block-start: var(--aconcagua);
}

.denali-margin-block-start {
  margin-block-start: var(--denali);
}

.kilimanjaro-margin-block-start {
  margin-block-start: var(--kilimanjaro);
}

.elbrus-margin-block-start {
  margin-block-start: var(--elbrus);
}

.vinson-margin-block-start {
  margin-block-start: var(--vinson);
}

.kosciuszko-margin-block-start {
  margin-block-start: var(--kosciuszko);
}

.zero-margin-block-start {
  margin-block-start: 0;
}

/*------------------------------------*/
/* #BLOCK END */
/* this seems like something you could do more interesting in a programatic way */
/*------------------------------------*/

.everest-margin-block-end {
  margin-block-end: var(--everest);
}

.aconcagua-margin-block-end {
  margin-block-end: var(--aconcagua);
}

.denali-margin-block-end {
  margin-block-end: var(--denali);
}

.kilimanjaro-margin-block-end {
  margin-block-end: var(--kilimanjaro);
}

.elbrus-margin-block-end {
  margin-block-end: var(--elbrus);
}

.vinson-margin-block-end {
  margin-block-end: var(--vinson);
}

.kosciuszko-margin-block-end {
  margin-block-end: var(--kosciuszko);
}

.zero-margin-block-end {
  margin-block-end: 0;
}

/*------------------------------------*/
/* #BLOCK Start */
/* this seems like something you could do more interesting in a programatic way */
/*------------------------------------*/

.everest-padding-block-start {
  padding-block-start: var(--everest);
}

.aconcagua-padding-block-start {
  padding-block-start: var(--aconcagua);
}

.denali-padding-block-start {
  padding-block-start: var(--denali);
}

.kilimanjaro-padding-block-start {
  padding-block-start: var(--kilimanjaro);
}

.elbrus-padding-block-start {
  padding-block-start: var(--elbrus);
}

.vinson-padding-block-start {
  padding-block-start: var(--vinson);
}

.kosciuszko-padding-block-start {
  padding-block-start: var(--kosciuszko);
}

.zero-padding-block-start {
  padding-block-start: 0;
}

/*------------------------------------*/
/* #BLOCK END */
/* this seems like something you could do more interesting in a programatic way */
/*------------------------------------*/

.everest-padding-block-end {
  padding-block-end: var(--everest);
}

.aconcagua-padding-block-end {
  padding-block-end: var(--aconcagua);
}

.denali-padding-block-end {
  padding-block-end: var(--denali);
}

.kilimanjaro-padding-block-end {
  padding-block-end: var(--kilimanjaro);
}

.elbrus-padding-block-end {
  padding-block-end: var(--elbrus);
}

.vinson-padding-block-end {
  padding-block-end: var(--vinson);
}

.kosciuszko-padding-block-end {
  padding-block-end: var(--kosciuszko);
}

.zero-padding-block-end {
  padding-block-end: 0;
}

/*------------------*/
/* #TOP BAR */
/*------------------*/

.top-bar {
  transition: var(--slow);
  display: flex;
  justify-content: center;
  padding-block-start: clamp(0.25rem, 1.667vw, var(--kilimanjaro));
  z-index: var(--emergent); /* over the small menu when it slides up */
  position: relative;

  p {
    margin-block-end: clamp(0.25rem, 1.667vw, var(--kilimanjaro));
  }
}

.top-bar.hidden {
  height: 0;
  opacity: 0;
}

/*------------------------------------*/
/* #SOCIAL */
/*------------------------------------*/

.social {
  display: flex;
  gap: clamp(var(--kilimanjaro), 1.667vw, var(--aconcagua));
  margin-block: clamp(var(--kilimanjaro), 1.667vw, var(--aconcagua));
}

/*------------------*/
/* #LOCATION */
/*------------------*/

.location-deck {
  margin-block-end: var(--kilimanjaro);
}

.location:not(:last-child) {
  border-block-end: 1px solid var(--neutral-400);
  margin-block-end: var(--kosciuszko);
}

.location {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: clamp(var(--kosciuszko), 1.67vw, var(--elbrus));
  border-radius: var(--card-radius);

  /* TODO: this is breaking with a phone and pushing too much location */
  /* > * {
    flex: 3rem 1;
    width: 100%;
    height: fit-content;
  } */

  > svg,
  .svg {
    min-width: var(--everest);
    min-height: var(--everest);
  }

  .location_details {
    width: 100%;
  }

  /* p {
    margin-block-end: 0; reset to the gap
  } */

  ul {
    padding-inline-start: 0;
  }
}

.location:not(:last-child)

/*------------------*/
/* #COMPOSITION */
/*------------------*/

.composition {
  display: grid;
  grid-template-columns: 5% 10% 70% 10% 5%;
  grid-template-rows: 5% 90% 5%;
  margin-block-end: var(--vinson);

  .gatsby-image-wrapper,
  .storybook-gatsby-image {
    max-width: 100%;
  }

  /* * img__wrapped */
  > * {
    border-radius: 0.25rem;
    box-shadow: var(--penumbra);
  }

  > img {
    display: block;
  }

  .paddler {
    grid-column: 3;
    grid-row: 2;
    aspect-ratio: 1;
    border: none;
    box-shadow: none;
    margin-block: 1rem;

    img {
      border-radius: 50%;
      border: 2px solid;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
    }
  }

  /* gatsby nesting breaks the design */
  .storybook-paddler {
    grid-column: 3;
    grid-row: 2;
    aspect-ratio: 1;
    box-shadow: none;
    margin-block: 1rem;
    border-radius: 50%;
    border: 2px solid;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
  }

  .texture-1 {
    grid-column: 1/5;
    grid-row: 1/3;
    aspect-ratio: 16/9;
  }

  .texture-2 {
    grid-column: 2/6;
    grid-row: 2/4;
    aspect-ratio: 16/9;
    place-self: end;

    img {
      object-fit: cover !important;
    }
  }
}

/*------------------------------------*/
/* #STORYBOOK */
/*------------------------------------*/

/* some of this is coming from the npm piece which us a little bit of a mess */
#storybook-root .color-deck {
  margin-block-end: var(--kilimanjaro);

  .color-card {
    min-width: 10rem;
    min-height: 10rem;
    width: auto;
    height: auto;
  }
}

/*------------------*/
/* #SPECS */
/*------------------*/

.spec {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  align-items: flex-start;
  /* addding this border has to flip the margins */
  border-block-start: 1px solid var(--tin-soldier);
  text-transform: uppercase;

  height: 2lh;
  margin-block-start: 1lh;
  @supports not (margin: 1lh) {
    height: 2.5rem;
    margin-block-start: 1.25rem;
  }

  h2,
  h3 {
    line-height: 2rem;
    margin-block-end: 0.25rem;
  }

  .spec-flex {
    display: flex;
  }
}

/* bug fix that maybe could be done with .sr-only being different but this works */
.spec:has(.sr-only) {
  align-items: center;
}

.spec:last-child {
  border-bottom: none;
}

/*------------------------------------*/

.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .equipment-images {
    max-width: 100%;
    object-fit: cover;
    margin-inline: auto;
  }
}
