/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a:where(:hover, :focus),
a.hover {
  text-decoration: none;
}

.link__subtle {
  text-decoration: none;
}

.link__subtle:where(:hover, :focus) {
  text-decoration: underline;
}
