/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a:where(:hover, :focus) {
  text-decoration: none;
}

.tahoe-city a {
  color: var(--mullen-100);
}

.south-tahoe a {
  color: var(--navy-100);
}

/*------------------------------------*/

.link__subtle {
  text-decoration: none;
}

.link__subtle:where(:hover, :focus) {
  text-decoration: underline;
}

/*------------------------------------*/

a svg {
  transition: var(--fade);
}

/*------------------------------------*/

/* TODO: a lot of this is smaller than the variables test it all */
.link__backed {
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  border: 1px solid transparent;
  transition: var(--slow);
  text-decoration: none;

  @media (min-width: 40rem) {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
