/*------------------*/
/* #LISTS */
/*------------------*/

/*------------------*/
/* #DEFAULTS */
/*------------------*/

ul,
ol {
  margin: 0; /* reset */
  list-style: none; /* reset */
  padding-inline-start: 0;
  margin-block-end: var(--vinson);

  li {
    display: block;
    margin-block-end: var(--baseline);
    padding-inline-start: 0;
    line-height: 1.5;
  }
}

/*------------------*/
/* #TESTIMONIALS */
/*------------------*/

.testimonials {
  list-style: none;
  padding-inline-start: 0; /* reset */

  li:not(:last-child) {
    border-block-end: 1px solid;
    margin-block-end: var(--vinson);
  }

  .content::before {
    content: "“";
  }
}

/*------------------*/
/* #BREADCRUMBS */
/*------------------*/

.react-aria-Breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  gap: var(--kosciuszko);
  list-style: none; /* reset */
  margin-block-end: 0;
  padding-inline: var(--kosciuszko); /* overwrite nav */
  padding-block: var(--kilimanjaro);
  text-transform: capitalize;

  li {
    /* ? is this needed its a flex */
    display: inline;
  }

  li:not(:last-child)::after {
    margin-inline-start: var(--kosciuszko);
    content: ">";
  }
}

.tour__minimum {
  display: flex;
  flex-flow: row wrap;
  gap: var(--vinson);
  align-items: baseline;
  justify-content: space-between;
}

/*------------------*/
/* #FEATURES */
/*------------------*/

.features {
  text-transform: uppercase;
  font-size: var(--vinson);

  ul {
    list-style: none;
    padding-inline-start: 0;

    li {
      height: 2lh;
      margin-block-end: 1lh;

      @supports not (margin: 1lh) {
        height: var(--aconcagua);
        margin-block-end: var(--elbrus);
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

/*------------------------------------*/
/* #FAQ */
/*------------------------------------*/
/* TODO: v1.2 a lot of this is repeated with other typography */

.faq {
  padding-inline-start: 0; /* reset */

  li {
    list-style: none;
    border-bottom: 1px solid var(--neutral-300);
    margin-block-end: var(--kilimanjaro);
  }

  li:last-child {
    border-bottom: none;
  }

  /* question */
  h2 {
    font-size: var(--elbrus);
    line-height: 1.875rem;
    margin-block-end: 0.625rem;
  }

  /* answer */
  h3 {
    font-size: var(--vinson);
    line-height: 1.25;
    font-weight: normal;
    margin-block-end: 0.625rem;
  }
}

/*------------------*/
/* #BRANDS */
/*------------------*/

/* * grid because we always want them the same size */
/* ? or flex the same size as we want them to fill the spaces? */
.brand_list {
  list-style: none;
  padding: 0;
  padding-inline: var(--kosciuszko);
  display: flex;
  flex-flow: row wrap;
  gap: var(--vinson);
  justify-content: space-around;

  > li {
    border-radius: var(--card-radius);
    margin: 0; /* reset */

    > a {
      margin: 0;
      display: flex;
      flex-direction: column;
      place-items: stretch;
      transition: var(--fade);
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-family: var(--heading_font);
      font-weight: 400;
      display: grid;
      gap: var(--kosciuszko);

      /* I know it breaks the inception rule its very short */
      > p {
        align-self: end;
      }
    }

    svg {
      transition: var(--fade);
      margin-block: var(--baseline);
      margin-inline: auto;
      min-width: var(--everest); /* guess and check */

      @media (min-width: 20rem) {
        min-width: 4rem; /* guess and check */
      }

      @media (min-width: 30rem) {
        min-width: 8rem; /* guess and check */
      }
    }
  }
}

/*------------------------------------*/
/* #PADDLE SUNSET TOUR TIMES */
/*------------------------------------*/

.paddle-sunset-tour-times div {
  border-block-start: 1px solid;
  padding-block-start: var(--vinson);
}

.date-time {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  place-items: baseline;

  > * {
    margin: 0;
    padding: 0;
    line-height: 2;
    width: max-content;
  }

  /* .date {
  } */

  .time {
    border-radius: var(--border-radius);
  }
}
