/*------------------------------------*/
/* #PANELS */
/*------------------------------------*/

/* Panels are used to group content and provide visual separation */
/* .horizon { base level } */
/* .cloud { floating, elevated content } */
/* .aurora { special, highlighted areas } */

.cloud {
  background-color: var(--neutral-200);
  box-shadow: 0 0 0 100vmax var(--neutral-200);
  clip-path: inset(0 -100vmax);

  button,
  .button {
    background-color: var(--neutral-100);
    border-color: white;
  }
}

.aurora {
  background-color: white;
  box-shadow: 0 0 0 100vmax white;
  clip-path: inset(0 -100vmax);

  /* TODO: dark */
}

.south-tahoe {
  .cloud {
    background-color: var(--cloud-background-color);
    box-shadow: 0 0 0 100vmax var(--cloud-background-color);
    clip-path: inset(0 -100vmax);
    color: var(--cloud-color);

    @media (prefers-color-scheme: dark) {
      background-color: var(--cloud-dark-background-color);
      box-shadow: 0 0 0 100vmax var(--cloud-dark-background-color);
      color: var(--cloud-dark-color);
    }

    a {
      @media (prefers-color-scheme: dark) {
        color: var(--lake-400);
      }
    }

    button,
    .button {
      background-color: var(--aurora-background-color);

      @media (prefers-color-scheme: dark) {
        background-color: var(--aurora-dark-background-color);
      }
    }
  }

  .aurora {
    background-color: var(--aurora-background-color);
    box-shadow: 0 0 0 100vmax var(--aurora-background-color);
    clip-path: inset(0 -100vmax);
    color: var(--aurora-color);

    @media (prefers-color-scheme: dark) {
      background-color: var(--aurora-dark-background-color);
      box-shadow: 0 0 0 100vmax var(--aurora-dark-background-color);
      color: var(--aurora-dark-color);
    }
  }
}
