/*------------------*/
/* #PRICING CHART */
/*------------------*/

.pricing-chart {
  display: flex;
  text-align: center;

  .column {
    display: flex;
    flex: 1 1 10rem;
    flex-direction: column;
    border-right: 0.5px solid var(--neutral-400);
  }

  .column:last-child {
    border-right: none;
  }

  /* cells */
  .title,
  p {
    /* * be careful of this it can break the footer flex */
    font-size: var(--kosciuszko);

    line-height: var(--denali);
    padding: clamp(0.5rem, 1vw, var(--vinson));
    border-bottom: 0.5px solid var(--neutral-400);
  }

  /* ? can this only be if it has the full length of cells? */
  .column > *:last-child {
    border-bottom: none;
  }

  /* titles build spans automatically from strapi */
  h4 span {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  h4,
  p {
    margin: 0.25px;
  }

  p {
    font-size: var(--kosciuszko);
  }
}
