/*------------------*/
/* #PRICING CHART */
/*------------------*/

.pricing-chart {
  display: grid;
  grid-auto-flow: column;
  /* * this gets updated by state */
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, 1fr);
  text-align: center;

  /* cells */
  .title,
  p {
    /* * be careful of this it can break the footer flex */
    font-size: var(--kosciuszko);

    @media (min-width: 40rem) {
      font-size: var(--vinson);
    }

    line-height: 2;
    min-height: var(--denali);
    /* always keep a line */
    padding: clamp(0.5rem, 1vw, var(--vinson));

    border-block-end-width: 1px;
    border-block-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-end-style: solid;

    align-content: center;
  }

  h4 {
    /* * overwrites align for all as this is only single line */
    align-content: flex-end !important;
  }

  /* titles build spans automatically from strapi */
  h4 span {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  h4,
  p {
    margin: 0.25px;
  }

  p {
    font-size: var(--kosciuszko);

    @media (min-width: 40rem) {
      font-size: var(--vinson);
    }
  }
}