/*------------------------------------*/
/* #TICKET */
/*------------------------------------*/

.ticket {

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  > a {
    display: block;
  }

  .ticket__header,
  .ticket__money,
  .ticket__specs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: var(--vinson);
  }

  .ticket__header,
  .ticket__specs {
    padding-inline: var(--vinson);
  }
}

.tahoe-city .ticket {
  border-color: var(--sand-400);

  @media (prefers-color-scheme: dark) {
    border-color: var(--neutral-700);
  }
}

.south-tahoe .ticket {
  background-color: var(--lake-200);
  border: 1px solid var(--lake-300);
  box-shadow: var(--penumbra);
  color: var(--lake-600);

  .book-now {
    background-color: var(--neutral-100);
    color: var(--lake-700);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--lake-700);
    border-color: var(--lake-600);
    color: var(--lake-200);

    .book-now {
      background-color: var(--lake-400);
      color: var(--lake-700);
      border-color: var(--lake-500);
    }

    a:not(.book-now) {
      color: var(--lake-200);
    }
  }
}