/*------------------------------------*\
  #TYPOGRAPHY
/*------------------------------------*/

body {
  font-family: var(--body_font); /* Google font */
  font-size: 16px;
  line-height: 1.25; /* 20px */
}

h1,
h2,
h3 {
  font-family: var(--heading_font); /* Google font */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0; /* reset */
  line-height: 1.5;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
.everest {
  margin-top: 0; /* browser reset */
  font-size: var(--everest); /* 48px */
  margin-bottom: var(--aconcagua); /* 40px */
}

h2,
.aconcagua,
.supra {
  font-size: var(--aconcagua); /* 40px */
  margin-block-end: var(--denali); /* 32px */
}

h3,
.denali {
  font-size: var(--denali); /* 32px */
  margin-bottom: 1.875rem; /* 30px */
}

h4,
.kilimanjaro,
.spec h2 {
  font-size: var(--kilimanjaro); /* 24px */
  margin-bottom: 1.75rem; /* 28px */
}

h5,
.elbrus {
  font-size: var(--kosciuszko); /* 20px */
  margin-bottom: 0.625rem; /* 10px */
}

h6,
.vinson {
  font-size: var(--vinson); /* 16px */
  margin-bottom: 0.625rem; /* 10px skips some of the lines */
  font-family: var(--body_font);
}

/* start the multi line problem here as itll be worst */
small,
.kosciuszko {
  font-size: var(--kosciuszko); /* 12px */
  margin-bottom: 0.875rem; /* 14px */
}

address {
  font-style: normal;
}

p {
  margin-block-start: 0;
  margin-block-end: var(--elbrus);
  font-family: var(--body_font);
}

/*------------------*/

.font-serif {
  font-family: var(--font-serif);
}

/*------------------*/
/* #HR */
/*------------------*/

hr {
  border: none; /* reset */
  border-bottom: 1px solid;
  margin-block-end: var(--kosciuszko);

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid var(--neutral-500);
  }
}

/* This is hard to search for its part of pricing sheet */
hr.no {
  display: none;
}

/*------------------*/
/* #SINGLES */
/*------------------*/

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.condensed {
  font-family: var(--heading_font);
}

.white-space {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

/*------------------*/
/* #HEADINGS */
/*------------------*/

hgroup {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1ch;
  align-items: baseline;
}

/*------------------*/
/* #SPECIFICS */
/*------------------*/

.single__description {
  line-height: 1.5;
}

/*------------------------------------*/

/* mostly taken from buttons */
select {
  font-size: var(--vinson);
  font-family: var(--body_font);
  margin-block-end: 0;
  margin: 0;
  cursor: inherit;
  line-height: inherit;
  padding: var(--kosciuszko);
  box-shadow: var(--penumbra);
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-100);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-600);
    border-color: var(--neutral-500);
    color: var(--neutral-100);
  }
}

select:hover,
.select:hover {
  box-shadow: var(--antumbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-500);
    border-color: var(--neutral-500);
    color: var(--neutral-200);
  }
}

.select:active,
select:active {
  box-shadow: var(--umbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-400);
    border-color: var(--neutral-200);
    color: var(--neutral-500);
  }
}

@media (prefers-color-scheme: light) {
  .tahoe-city select {
    border-color: var(--sand-200);
    background-color: var(--sand-100);
  }
}

.comparesheet_select {
  width: 100%;
}

/*------------------*/

/* fixes a bug with new lines */
/* but creates a weird one with titles */
.react-markdown {
  white-space: pre-wrap;
  line-height: 1.5;

  ul {
    white-space: collapse;
  }
}

/*------------------*/
/* #DEL */
/*------------------*/

/* TODO: v1.2 */
