/*------------------*/
/* #VISIBILITY */
/*------------------*/

.possibly-empty:empty {
  display: none;
}

/* used in the compare tables */
.show-below__vulture {
  @media (min-width: 30rem) {
    display: none;
  }
}

.no-below-vulture {
  @media (max-width: 30rem) {
    display: none;
  }
}

.only-below-vulture {
  @media (min-width: 30rem) {
    display: none;
  }
}

.storybook-show {
  display: revert !important;
}
